@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  > div:first-child {
    min-height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    position: relative;
    aspect-ratio: 1/1;
    width: 50px;
    cursor: pointer;
  }
  .header-search {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    label {
      width: 100%;
      input {
        width: 100%;
        padding: 0 10px;
        outline: none;
      }
    }
  }
  .header-cart {
    position: relative;
    width: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;
  }
}

main {
  flex-grow: 1;
}

.shop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  .shop-item {
    border: 1px solid black;
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
    > div > span:nth-child(odd) {
      color: red;
      font-weight: bold;
      font-size: 18px;
    }
    &__image {
      position: relative;
      width: 100%;
      aspect-ratio: 5/4;
      grid-row: 4 span;
      img {
        object-fit: cover;
      }
    }
    &__add {
      position: absolute;
      right: 10px;
      bottom: 10px;
      button {
        border: 1px solid black;
        padding: 0 5px;
        transition: all 0.5s;
        background-color: #fff;
        &:hover {
          background-color: darken(#fff,25%);
        }
      }
    }
  }
}
.shop-categories {
  margin-bottom: 10px;
}
.categories {
  width: fit-content;
  margin: 0 auto;
  span {
    background-color: beige;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    + span {
      margin-left: 10px;
    }
  }
}

.footer {
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-contacts {
    > ul {
      li {
        display: inline-block;
        + li {
          margin-left: 10px;
        }
      }
    }
  }
}

.chakra-portal {
}
